TomcatClient/wsdl/ICService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.service.zhengtong.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ICService" targetNamespace="http://ws.service.zhengtong.com/">


<types>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.service.zhengtong.com/" targetNamespace="http://ws.service.zhengtong.com/" version="1.0">

<xs:element type="tns:idCert" name="idCert"></xs:element>

<xs:element type="tns:idCertResponse" name="idCertResponse"></xs:element>

<xs:element type="tns:orgCertBizQuery" name="orgCertBizQuery"></xs:element>

<xs:element type="tns:orgCertBizQueryResponse" name="orgCertBizQueryResponse"></xs:element>


<xs:complexType name="orgCertBizQuery">


<xs:sequence>

<xs:element type="tns:ocBizQ" name="message" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="ocBizQ">


<xs:sequence>

<xs:element type="xs:string" name="branchOrgCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="endDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="juridicalOrgCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="licenseKey" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="requestDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="requestTime" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="startDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="userId" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="orgCertBizQueryResponse">


<xs:sequence>

<xs:element type="tns:ocBizQResp" name="message" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="ocBizQResp">


<xs:sequence>

<xs:element type="xs:string" name="bizSum" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="branchOrgCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="consistentSum" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="doubtSum" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="endDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="historicalSum" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="inconsistentSum" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="juridicalOrgCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="noneSum" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="responseCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="responseMessage" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="startDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="userId" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="idCert">


<xs:sequence>

<xs:element type="tns:ic" name="message" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="ic">


<xs:sequence>

<xs:element type="xs:string" name="bizSendChannel" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="branchOrgCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="businessType" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="customerName" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="idNo" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="juridicalOrgCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="licenseKey" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="queryFlow" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="queryType" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="requestDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="requestTime" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd1" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd2" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd3" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="userId" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="idCertResponse">


<xs:sequence>

<xs:element type="tns:icResp" name="message" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>


<xs:complexType name="icResp">


<xs:sequence>

<xs:element type="xs:string" name="authResult" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="birthDate" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="custUsedName" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="customerName" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="eduLevel" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="gender" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="idAddr" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="idNo" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="maritalStatus" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="nation" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="photos" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd1" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd2" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd3" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd4" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="reservedFd5" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="responseCode" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="responseMessage" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="serialNo" minOccurs="0"></xs:element>

<xs:element type="xs:string" name="servicePlace" minOccurs="0"></xs:element>

</xs:sequence>

</xs:complexType>

</xs:schema>

</types>


<message name="idCert">

<part name="parameters" element="tns:idCert"></part>

</message>


<message name="idCertResponse">

<part name="parameters" element="tns:idCertResponse"></part>

</message>


<message name="orgCertBizQuery">

<part name="parameters" element="tns:orgCertBizQuery"></part>

</message>


<message name="orgCertBizQueryResponse">

<part name="parameters" element="tns:orgCertBizQueryResponse"></part>

</message>


<portType name="ICService">


<operation name="idCert">

<input message="tns:idCert"></input>

<output message="tns:idCertResponse"></output>

</operation>


<operation name="orgCertBizQuery">

<input message="tns:orgCertBizQuery"></input>

<output message="tns:orgCertBizQueryResponse"></output>

</operation>

</portType>


<binding name="ICServicePortBinding" type="tns:ICService">

<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>


<operation name="idCert">

<soap:operation soapAction=""></soap:operation>


<input>

<soap:body use="literal"></soap:body>

</input>


<output>

<soap:body use="literal"></soap:body>

</output>

</operation>


<operation name="orgCertBizQuery">

<soap:operation soapAction=""></soap:operation>


<input>

<soap:body use="literal"></soap:body>

</input>


<output>

<soap:body use="literal"></soap:body>

</output>

</operation>

</binding>


<service name="ICService">


<port name="ICServicePort" binding="tns:ICServicePortBinding">

<soap:address location="https://101.230.196.66/ICService"></soap:address>

</port>

</service>

</definitions>